.maniContainer {
    background-color: rgb(239, 239, 239);
    border-radius: 1rem;
    margin-right: 3%;
    /* box-shadow: -1px 2px 12px 1px #1d509d; */
}

.maniContainer h5 {
    color: #07509D;
}


.basi-details {
    display: flex;
    color: #07509D;
}

.table-heading {
    color: #1d509d;
    font-weight: bolder;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.download-btn {
    border: 0px;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: #31c3bb;
    box-shadow: 1px 0px 7px 1px gray;
}

button.download-btn:hover {
    background-color: white;
    color: #31c3bb;
}

.keywords_compititors {
    display: flex;
}

.review_rating {
    background-color: white;
    /* box-shadow: -1px 2px 12px 1px #1d509d; */
    text-align: center;
    color: #3883b3;
    opacity: 0.8;
    height: 90%;
    border-radius: 1rem;
  
}

button.export-btn {
    border: 0px;
    margin-right: 30px;
    padding: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: #54cfc9;
}

button.export-btn:hover {
    background-color: white;
    color: #31c3bb;
}
/* .maniContainer{
    font-size: 1.125rem;
    font-weight: bold;
} */

@media screen and (max-width: 480px) {
    .maniContainer {
        background-color: rgb(239, 239, 239);
        border-radius: 10px;
        /* box-shadow: -1px 2px 12px 1px #1d509d; */
        
    }
    .head {
        font-size: 10px;
        font-weight: 100;
    }
    .basi-details {
        font-size: 10px;
        font-weight: 200;
    }
    button.download-btn {
        width: 10vh;
        height: 6vh;
        font-size: 10px;
        font-weight: 100;
    }
    .table-heading {
        font-size: 15px;
        font-weight: 300;
        border-radius: 1rem;

    }
    .table-component {
        font-size: 5px;
        font-weight: 100;
        overflow: auto;
        border-radius: 1rem;

    }
    .table  {
        padding: 1.5rem;
       
    }
    .maniContainer{
        font-size: 10px;
        font-weight: 300;
    }
}
